.loading-screen {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
  height: 100vh;
  transition: opacity 0.4s;
}

.loading-screen.hide {
  opacity: 0;
}

.loading-screen .row {
  flex: 0 0 auto;
}

.logo {
  margin-bottom: 40px;
}

.v-enter-active, .v-leave-active {
  transition-delay: 0.5s;
  transition-property: all;
  transition-duration: 0.6s;
}

.v-enter, .v-leave-to {
  opacity: 0;
  transform: translateY(-10px);
}

.placeholder {
  text-align: center;
}

h3 {
  font-weight: 500;
  font-size: 18px;
  color: #383838;
  margin: 1em 0;
  letter-spacing: 1px;
}

.hasErrors {
  color: #D0021B;
}

.errorStack {
  padding: 1.5em;
  border: 1px solid #108775;
  border-radius: 1em;
  background-color: #eee;
  margin: 1em 0;
}

p.pre {
  margin-top: 1em;
  line-height: 1.2em;
  white-space: pre;
}

h4 {
  margin-bottom: 30px;
  font-size: 15px;
  color: #383838;
}

.reload_prevented {
  width: 500px;
  max-width: 85vw;
}

.reload_prevented p {
  margin-bottom: 1rem;
}

.progress_bar_container {
  background-color: #DDDDDD;
  border-radius: 6px;
  width: 500px;
  max-width: 85vw;
  height: 10px;
  margin-bottom: 10px;
}

.progress_bar {
  border-radius: 6px;
  height: 10px;
  width: 10px;
  transition: width 0.4s;
}

.progress_bar.client {
  background-color: #00C58E;
}

.progress_bar.server {
  background-color: #108775;
}

.progress_bar.modern {
  background-color: #2F495E;
}

.alert{
  max-width: 85vw;
  background-color: #ebf8ff;
  padding: 1rem;
  margin-bottom: 1rem;
  border-left: 4px solid #63b3ed;
}
.alert-wrapper{
  display:flex;
  align-items: center;
}
.alert-icon{
  padding-top: .25rem;
  flex-shrink: 0;
  align-self: flex-start;
}
.alert-icon svg{
  width: 1.25rem;
  height: 1.25rem;
  display: block;
}
.alert-content{
  font-family: 'Quicksand', sans-serif;
  color: #2f495e;
  font-size: .875rem;
  font-weight: 500;
  margin-left: .5rem;
}
.alert-content code{
  color:#f07178;
  font-family: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
.alert-content a{
  color:#00c58e;
  text-decoration:none;
}
.alert-content a:hover{
  text-decoration:underline;
}
